*
{
    transition: all 0.15s;
}

body
{
    min-width: 450px;
}

body > *
{
    margin: 8px;
    padding: 0;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

header > img
{
    width: auto;
    height: 64px;
}

#settingsMenu
{
    display: flex;
    flex-direction: column;
}

.setting
{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
    align-items: center;
    margin: 0.5em 0;
    width: 100%;
}

.setting > *
{
    padding: 0;
    margin: 0;
}

.setting > input[type=checkbox]
{
    scale: 150%;
    margin: 0;
}

#githubLink
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
}

#githubLink > *
{
    padding: 0;
    margin: 0;
}

#jsonDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#jsonDiv > div
{
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jsonDiv > div:hover
{
    cursor: pointer;
    scale: 105%;
    text-decoration-line: underline;
}

#reloadSpoiler
{
    font-weight: bolder;
    display: none;
}
